.filter {
    margin: 1rem 1rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fields {
    display: flex;
    gap: 1rem;
}

.pagination_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}